body {
  color: white;
  background-color: rgb(29 135 255);
  font-family: Lato, sans-serif;
  text-align: center;
}

.container {
  max-width: 75%;
  margin: auto;
}

.padding {
  padding-top: 50px;
}

.title-wrapper {
  width: 100%;
}

.column-one-third {
  flex-basis: 300px;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  display: flex;
  justify-content: center;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 50%;
  height: 50%;
  background-color: white;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  font-size: 14px;
  text-align: center;
}
