/* title */
h3 {
  text-align: center;
  text-transform: uppercase;
  color: #db665d;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 550;
  letter-spacing: 1px;
  padding: 0;
  margin-bottom: 5px;
}

div {
  width: 50%;
  margin: auto;
}

/* labels for input boxes */
div > label {
  text-transform: uppercase;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 500;
  font-size: 65%;
  margin-left: 10px;
}

/* space between input boxes */
div > div {
  padding: 5px;
}

/* space of input boxes themselves */
input {
  text-align: left;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid lightgrey;
  margin: 3px;
}

button {
  background-color: #db665d;
  font-family: "Brandon Grotesque", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-radius: 25px;
  border-style: none;
  padding: 5px;
  width: 100px;
  height: 35px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.submit {
  text-align: right;
}

select {
  margin: 3px;
  width: 100%;
  background-color: rgb(243 243 243);
  font-family: "Brandon Grotesque", sans-serif;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: rgb(178 181 180);
}

::placeholder {
  color: #afafaf;
  letter-spacing: 0.7px;
  font-size: 14px;
}

div > select > option {
  text-align: left;
  padding: 0;
}
